body {
    background-color: rgb(155, 153, 153);
}

.taiji {
    width: 0px;
	height: 600px;
	border-left: 300px solid black;
	border-right: 300px solid white;
    border-radius: 100%;
    margin:  100px auto;
    animation: rolling 5s linear 0s infinite;
    box-shadow: 0 0 50px #fff;
}
.taiji::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border: 100px solid black;
    border-radius: 100%;
    background-color: white;
    margin-left: -150px;
}
.taiji::after {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border: 100px solid white;
    border-radius: 100%;
    background-color: black;
    margin-left: -150px;
}

@keyframes rolling {
    from {
      transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }